[user]
	name = Scott Clark
	email = scott@scottclark.io
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  lg = log -p
  who = shortlog -s --
  lc   = log ORIG_HEAD.. --stat --no-merges
  undo = reset --hard
  fo   = fetch origin
  sortdiff = !sh -c 'git diff "$@" | grep "^[+-]" | sort --key=1.2 | uniq -u -s1'

